@import url('cr-dojo-dijits.css');

.plugin-enba{
font-size: 13px;
color: #000;
}
	
.fi-info {
  font-size: 20px;
  position: relative;
  top: 2px;
}

.enba-bar.NBA rect{
  fill: #527D84;
  stroke: #bbbbbb;
}
.enba-bar.CCA rect{
  fill: #666666;
  stroke: #bbbbbb;
}

.plugin-enba path.NBA {
stroke: #30928D;
stroke-width:1.5;
fill:#30928D;
fill:none;
}

.plugin-enba path.CCA {
stroke: #923034;
stroke-width:1.5;
fill:#923034;
fill:none;
}

.plugin-enba path.NBA-ES {
stroke: #59C3CD;
stroke-width:1.5;
fill:none;
}

.plugin-enba circle  {
cursor:pointer;
z-index:100;
}

.plugin-enba circle.NBA {
stroke: #bbbbbb;
stroke-width:0.5;
fill:#30928D;
}

.plugin-enba circle.CCA {
stroke: #bbbbbb;
stroke-width:0.5;
fill:#923034;
}

.plugin-enba circle.NBA-ES {
stroke: #bbbbbb;
stroke-width:0.5;
fill:#59C3CD;
}

.plugin-enba circle.on {
stroke: #666666;
stroke-width:1.5;
}

.plugin-enba rect.NBA{
fill: #30928D;
stroke: #666666;
}

.plugin-enba rect.CCA {
fill: #923034;
stroke: #666666;	
}

.plugin-enba .line-cb{
  stroke: #d3d3d3;
  /* stroke-dasharray: 3; */
}

.plugin-enba .line-highlight{
  stroke: #666666;
  stroke-dasharray: 3;
}

.plugin-enba .axis text {
  font: 12px sans-serif;
}

.plugin-enba .axis path, .plugin-enba .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.plugin-enba .tick_on{
font-size:14px !important;
font-weight: bold !important;
}

.plugin-enba .x .domain, .plugin-enba .x .tick  {
stroke-width:0;
}

.plugin-enba .x .tick  {
cursor:pointer;
}

.enba-legend text{
font-size:12px;
color:#4d4d4d;
}

.plugin-enba .legend-div{
position:relative;
width:100%;
bottom:20px;
text-align:center;	
}

.plugin-enba .legend-item {
width:auto;
display: inline-block;
}

.plugin-enba .legend-icon {
width: 8px;
height: 8px;
border-radius: 8px;
display: inline-block;
position:relative;
top:0px;
}

.plugin-enba .legend-text {
display: inline-block;
margin-left:5px;
}

.plugin-enba div.NBA{
background: #30928D;
border: 1px solid #666666;
}

.plugin-enba div.CCA {
background: #923034;
border: 1px solid #666666;	
}

.plugin-enba .legend-highlight-div {
position:absolute;
width:auto;
height:auto;
border-radius:4px;
z-index:10;
background: #30928D;
color: #ffffff;
font-weight: bold;
bottom: 22px;
left: 440px;
padding:4px 10px;
text-align:center;
}

.plugin-enba .legend-highlight-div span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.plugin-enba .legend-highlight-div:after, .plugin-enba .legend-highlight-div:before {
bottom: 100%;
left: 50%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.plugin-enba .legend-highlight-div:after {
border-color: rgba(48, 146, 141, 0);
border-bottom-color: #30928D;
border-width: 5px;
margin-left: -5px;
}
.plugin-enba .legend-highlight-div:before {
border-color: rgba(48, 146, 141, 0);
border-bottom-color: #30928D;
border-width: 6px;
margin-left: -6px;
}

.plugin-enba .legend-highlight-div.hNBA {
background: #30928D;
}

.plugin-enba .legend-highlight-div.hNBA:after {
border-color: rgba(48, 146, 141, 0);
border-bottom-color: #30928D;
}

.plugin-enba .legend-highlight-div.hNBA:before {
border-color: rgba(48, 146, 141, 0);
border-bottom-color: #30928D;
}

.plugin-enba .legend-highlight-div.hCCA {
background: #923034;
}

.plugin-enba .legend-highlight-div.hCCA:after {
border-color: rgba(146, 48, 52, 0);
border-bottom-color: #923034;
}

.plugin-enba .legend-highlight-div.hCCA:before {
border-color: rgba(146, 48, 52, 0);
border-bottom-color: #923034;
}

/* css tooltip bottom */
.enba-tooltip.tooltip-bottom:after, .enba-tooltip.tooltip-bottom:before {
bottom: 100%;
left: 50%;
}

.enba-tooltip.tooltip-bottom:after {
border-bottom-color: #ccd5d5;
margin-left: -5px;
}
.enba-tooltip.tooltip-bottom:before {
border-bottom-color: #ccd5d5;
margin-left: -6px;
}

.plugin-enba .downloadButton {
width: 250px;
height: 35px;
background:#94959C;
border:1px solid #94959C;
border: none;
line-height: 35px;
border-radius: 5px;
display:inline-block;
padding: 0px 0px 0px 10px;
color:#ffffff;
display:inline-block;
position: relative;
margin-left: 40px;
overflow: hidden;
cursor:pointer;
text-align: center;
}

.plugin-enba .downloadText{
width:0px;
overflow:hidden;
margin-right: 5px;
}

.plugin-enba .downloadIcon{
margin-right: 7px;
}


/* base tooltip element */
.enba-tooltip {
position:absolute;
display:none;
z-index: 1000000;
padding: 10px;
border-radius: 2px;
max-height:500px; 
max-width:225px; 
left:0px; 
top:0px; 
background-color: #ccd5d5; 
border: 1px solid #ccd5d5;
color: #555;
font-size: 13px;
font-weight: normal;
text-align:center;
line-height: 15px;
}

.enba-tooltip span {
display:inline-block;
vertical-align:middle;
text-align:center;
}

.enba-tooltip:after, .enba-tooltip:before {
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}

.enba-tooltip:after {
border-color: rgba(68, 68, 68, 0);
border-width: 5px;
}
.enba-tooltip:before {
border-color: rgba(204, 204, 204, 0);
border-width: 6px;
}

/* css tooltip arrow top */
.enba-tooltip.tooltip-top:after, .enba-tooltip.tooltip-top:before {
top: 100%;
left: 50%;
}

.enba-tooltip.tooltip-top:after {
border-top-color: #ccd5d5;
margin-left: -5px;
}
.enba-tooltip.tooltip-top:before {
border-top-color: #ccd5d5;
margin-left: -6px;
}

/* css tooltip bottom */
.enba-tooltip.tooltip-bottom:after, .enba-tooltip.tooltip-bottom:before {
bottom: 100%;
left: 50%;
}

.enba-tooltip.tooltip-bottom:after {
border-bottom-color: #ccd5d5;
margin-left: -5px;
}
.enba-tooltip.tooltip-bottom:before {
border-bottom-color: #ccd5d5;
margin-left: -6px;
}

/* css tooltip left */
.enba-tooltip.tooltip-left:after, .enba-tooltip.tooltip-left:before {
left: 100%;
top: 50%;
}

.enba-tooltip.tooltip-left:after {
border-left-color: #ccd5d5;
margin-top: -5px;
}
.enba-tooltip.tooltip-left:before {
border-left-color: #ccd5d5;
margin-top: -6px;
}

/* css tooltip right */
.enba-tooltip.tooltip-right:after, .enba-tooltip.tooltip-right:before {
right: 100%;
top: 50%;
}

.enba-tooltip.tooltip-right:after {
border-right-color: #ccd5d5;
margin-top: -5px;
}
.enba-tooltip.tooltip-right:before {
border-right-color: #ccd5d5;
margin-top: -6px;
}



.plugin-enba .styled-select {
position: relative;
width: 125px;
height: 36px;
overflow:hidden;
cursor: pointer;
background-color: #fff;
border: 1px solid #ddd;
border-radius: 4px;
}
 
.plugin-enba .styled-select:after {
content: '\f078';
font: 12px FontAwesome;
color: #ddd;
right: 2px;
top: 4px;
padding: 6px 5px 6px 2px;
position: absolute;
background:#ffffff;
pointer-events: none;
opacity:1.0;
}
 
.plugin-enba .styled-select select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 100%;
height: 32px;
padding: 5px;
font-size: 14px;
color: #333333;
background: transparent;
border:0;
border-radius:0
cursor: pointer;
}

.plugin-enba .results-select {
position:relative;
display: inline-block;
width:auto;
height: 28px;
top:4px;
margin:0px 3px;
}

.plugin-enba .results-select select {
height:25px;
padding: 2px 5px;
font-weight:bold;
font-size: 13px;
}

.plugin-enba .results-select:after {
font: 12px FontAwesome;
top: 6px;
right: 5px;
padding: 0 0 2px;
}

.plugin-enba .results-select select:disabled {
font-weight:bold;
color: #94959C;
}

.plugin-enba .styled-radio [type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
.plugin-enba .styled-radio  label {
  display: block;
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
}

.plugin-enba .styled-radio  [type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
.plugin-enba .styled-radio  [type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  vertical-align: 1px;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #0096d6;
  margin-right: 15px;
  transition: 0.5s ease all;
  -webkit-font-smoothing: antialiased;
}

/* the checked style using the :checked pseudo class */
.plugin-enba .styled-radio  [type="radio"]:checked + span:before {
  background: #0096d6;
  box-shadow: 0 0 0 2px #0096d6;
  -webkit-font-smoothing: antialiased;
}

.plugin-enba .styled-checkbox{
max-width:175px;
display:inline-block;
}

.plugin-enba .styled-checkbox input[type="checkbox"] {
display: none;
}

.plugin-enba .styled-checkbox div {
max-width:175px;
}

.plugin-enba .styled-checkbox div:before {
position: relative;
top: 1px;
font-family: "FontAwesome";
font-style: normal;
font-size:14px;
width: 1em;
height: 1em;
content:'\f096';
margin-right: 7px;
color:#0096d6;
-webkit-font-smoothing: antialiased;
}

.plugin-enba .styled-checkbox input[type="checkbox"]:checked ~ div:before {
content:'\f14a';
color:#0096d6;
margin-right: 6px;
-webkit-font-smoothing: antialiased;
}

.plugin-enba .styled-checkbox input[type="checkbox"]:disabled ~ div:before {
content:'\f096';
color:#ccc;
margin-right: 7px;
-webkit-font-smoothing: antialiased;
}

.plugin-enba .styled-checkbox input[type="checkbox"]:disabled ~ div span {
color:#ccc;
}

.plugin-enba .styled-checkbox input[type="checkbox"]:not(disabled) ~ div span {
color:#000;
}

.plugin-enba .fa-info-circle{
color:#226491;
color:#000000;
margin:-3px 1px 0px 0px;
cursor:pointer;
font-size:14px;
vertical-align:middle;
}

.ecosystem-checkbox{
max-width:400px;
}

.ecosystem-checkbox div {
max-width:400px;
}

.ecosystem-checkbox div:before {
font-size:16px;
}

.ecosystem-checkbox span {
font-size:14px;	
}

.results-note {
text-align:center;
width:90%;
margin: 0px 5% 2px 5%;
}

.results-note-text {
font-size: 13px;
}

.results-note-controls {
position:relative;
top:-3px;
font-size: 14px;
}

.results-text{
font-weight:bold;
font-size:20px;
}

.results-table {
width:100%;
border: none;
margin: 0 0 10px;
}

.results-table td {
border:none;
text-align:center;
line-height:35px;
}

.results-stat{
position:relative;
margin: 5px 0px 20px 0px;
text-align:center;
}

.results-stat-text{
font-size:14px;
}

.results-stat-number-container{
position: absolute;
top: 40px;
width:100%;
text-align: center;
}

.results-stat-number{
position:relative;
display:inline-block;
font-size: 35px;
font-weight: bold;
text-align: center;
background:#ffffff;
width:auto;
line-height: 35px;
}

.results-strategy, .results-net-benefits {
font-size: 25px;
font-weight: bold;
position: relative;
top: 2px;
}

.results-strategy-alternative {
font-weight:bold;
}


/* dojo dijit overrides */

/* horizontal slider */
/* .plugin-enba .dijitSliderH div.dijitSliderImageHandleH {
border: 0;
width: 14px;
height: 14px;
background-image: none;
background-repeat: no-repeat;
border-radius: 100%;
border: 1px solid #007fb2;
background: #0096d6;
margin-top: 1px;
}

.plugin-enba .dijitSliderBarH, .plugin-enba .dijitSliderBumperH {
height:8px;	
}

.plugin-enba .dijitSliderH div.dijitSliderLeftBumper {
border-radius: 4px 0px 0px 4px;
}

.plugin-enba .dijitSliderH div.dijitSliderRightBumper {
border-radius: 0px 4px 4px 0px;
}

.plugin-enba .dijitSliderH div.dijitSliderProgressBarH , .plugin-enba .dijitSliderH div.dijitSliderLeftBumper{
border-color: #0096d6;
background-color: #E8F5FE;
background-image: none;
box-shadow: none;
}

.plugin-enba .dijitSliderH div.dijitSliderRemainingBarH , .plugin-enba .dijitSliderH div.dijitSliderRightBumper {
box-shadow: none;	
}

.plugin-enba .dijitSliderDisabled div.dijitSliderImageHandleH {
border-color: #d3d3d3;
background: #d3d3d3;
}

.plugin-enba .dijitSliderDisabled div.dijitSliderProgressBarH , .plugin-enba .dijitSliderDisabled div.dijitSliderLeftBumper{
border-color: #d3d3d3 !important;
background-color: #d3d3d3 !important;
} */

/* horizontal slider rule labels*/
.plugin-enba .dijitRuleLabel  {
font-size: 12x !important;
}

.plugin-enba .dijitTitlePaneTitleFixedOpen {
background-color: #226491 !important;
background-image: none !important;
color: #ffffff !important;
padding-top: 2px !important;	
}

.plugin-enba .utility-control {
position: relative;
right: 20px;
bottom: 0px;
cursor: pointer;
margin-bottom: 0px;
margin-top: 15px;
text-align: right;
}

.plugin-enba .utility {
position: absolute;
width: 75px;
height: 20px;
bottom: 20px;
right: 100px;
display:none;
}